
# Define owners for all files in the repository
* @SLAVNG/iac

# Define owners for workflow files
.github/workflows/* @SLAVNG/iac

# Define owners for the CODEOWNERS file itself
.github/CODEOWNERS @SLAVNG/iac
